{% extends 'webapp/base.html' %}

{% block content %}

    
    <body>
        <div class="container bg-dark shadow-md p-5 form-layout " >       
            <h3>Create your account</h3>

            <h6> Please login i beg you</h6>

            <hr>
            <br>
            <form method="POST" autocomplete="off" action="">
                {% csrf_token %}
                {{form.as_p}}


                <br>

                <button type="submit" class="btn-primary">Create account</button>
            </form>

            <br>
            <div class="text-center">
                <p>Already have and account? please login </p><a href="{% url 'my-login' %}">login</a>
            </div>

        </div>
    </body>

{% endblock %}